#solution{
    background-color: #ffffff;
    border-radius: 5px;
}

#solution p{
    word-wrap: break-word;
}

#solution code{
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}